*{
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif; 
}
.fondoBody{

    background:white;
}

.carousel{
    border-radius: 10px;
}

.bgNavbar {
    background-color: #1d3557;
}



.somos,
.hacemos,
.services,
.toner,
.pedido{
    font-weight: 500;
}



.somos:hover,
.hacemos:hover,
.services:hover,
.toner:hover,
.pedido:hover {
    background-color:#a4031f;
    border-radius: 3px;
    text-decoration: antiquewhite;
    
}

.footer {
    background-color: #1d3557;
    height: 18rem;
    
}
.container{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.imagenCarousel {
    width: 100%;
    border-radius: 15px; 
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

.textFooter {
    font-size:20vw;
}

.card {
    border-radius: 15px; 
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

}

.hamburguesa {
    background-color: aliceblue;
}

.imprimaFacilTitulo {
    color:#a4031f ;
    font-family:  'Raleway', sans-serif;
}