.fondoBody{

    background:whitesmoke;
}

.carousel{
    border-radius: 10px;
}


.somos,
.hacemos,
.services,
.toner,
.pedido{
    font-weight: 500;
}



.somos:hover,
.hacemos:hover,
.services:hover,
.toner:hover,
.pedido:hover {
    background-color:tomato;
    border-radius: 3px;
    text-decoration: antiquewhite;
    
}

.footer {
    background-color: #1d3557;
    height: 18rem;
    
}
.carousel{
    border-radius: 10px;
}
